/* Start Global Rules  */
* {
    --webkit-box-sizing: border-box;
    --moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #19c8fa;
    --second-color: #353235;
    --paragraph-color: #777;
    --transparent-color: rgb(15 116 143 / 60%);
    --section-padding: 60px;
    --section-background: #F6f6f6;
    --Main-Transition: 0.3s;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

.Container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small  */
@media (min-width: 768px) {
    .Container {
        width: 750px;
    }
}

/* Medium  */
@media (min-width: 992px) {
    .Container {
        width: 970px;
    }
}

/* End Global Rules  */
/* Start Components  */
.special-heading {
    max-width: 350px;
    margin: 0 auto var(--section-padding);
    text-align: center;
}

.special-heading h3 {
    color: var(--second-color);
    font-weight: normal;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
}

.special-heading h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 80px;
    height: 2px;
    background-color: var(--second-color);
}

.special-heading h3::after {
    content: "";
    position: absolute;
    top: calc(100% - 6.7px);
    left: 50%;
    transform: translate(-50%);
    width: 8px;
    height: 8px;
    background-color: white;
    border: 2px solid var(--second-color);
    border-radius: 50%;
}

.special-heading p {
    color: var(--paragraph-color);
    font-size: 10px;
    line-height: 1.8;
    margin-top: 20px;
}

/* End Components  */
/* Start Header  */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 74.6px;
}

header .Container .Logo img {
    height: 40px;
}

header .Container nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .Container nav .toggle-menu {
    color: white;
    font-size: 22px;
}

@media (min-width: 768px) {
    header .Container nav .toggle-menu {
        display: none;
    }
}

header nav ul {
    display: flex;
    text-transform: uppercase;
}

@media (max-width: 767px) {

    header nav ul {
        display: none;
    }

    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: rgb(0 0 0 / 50%);
    }

    header nav ul li a {
        padding: 15px !important;
    }
}

header .Container nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 30px 18px;
    position: relative;
    z-index: 2;
    transition: var(--Main-Transition);
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: var(--main-color) solid 1px;
}

header .Container .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 50px;
    border-left: 1px solid white;
}

header .Container .form i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

header .Container::after {
    content: "";
    position: absolute;
    background-color: #a2a2a2;
    height: 1px;
    width: calc(100% - 30px);
    bottom: 0;
    left: 15px;
}

/* End Header  */
/* Start Landing  */
.landing {
    height: 100vb;
    background-color: beige;
    background-image: url("../Images/Landing.jpg");
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.landing .overlay .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    background-color: var(--transparent-color);
    color: white;
    padding: 40px 70px 60px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .landing .overlay .text {
        width: 100%;
        padding: 15px;
    }
}

.landing .overlay .text .content {
    max-width: 400px;
}

@media (max-width: 767px) {
    .landing .overlay .text .content {
        max-width: 100%;
    }
}

.landing .overlay .text .content h2 {
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.8;
    letter-spacing: -1px;
}

.landing .overlay .text .content P {
    font-size: 9px;
    line-height: 2;
}

.landing .Left-Arrow,
.landing .Right-Arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
}

.landing .Left-Arrow {
    left: 30px;
}

.landing .Right-Arrow {
    right: 30px;
}

@media (max-width: 767px) {

    .landing .Left-Arrow,
    .landing .Right-Arrow {
        display: none;
    }
}

.landing ul {
    display: flex;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.landing ul li {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing ul li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* End Landing  */
/* Start Services  */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {

    .services .Container .services-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-column-gap: 60px;
        grid-row-gap: 40px;
    }

    .services .Container .services-content .srv-box i {
        margin-right: 50px;
    }
}

.services .Container .services-content .srv-box {
    display: flex;
    margin-bottom: 50px;
}

@media (max-width: 767px) {
    .services .Container .services-content .srv-box {
        flex-direction: column;
        text-align: center;
    }

    .services .Container .services-content .srv-box .text-content {
        margin-top: 20px;
    }
}

.services .Container .services-content .srv-box i {
    font-size: 40px;
}

.services .Container .services-content .srv-box h2 {
    margin-bottom: 20px;
    color: var(--main-color);
    font-weight: normal;
}

.services .Container .services-content .srv-box p {
    font-size: 12px;
    color: var(--paragraph-color);
    line-height: 1.8;
}

/* End Services  */
/* Start Design  */
.design {
    background-color: #1f2021;
    background-image: url(../Images/Design-Feature.jpg);
    background-size: cover;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.design::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.design .image,
.design .text {
    position: relative;
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
}

.design img {
    position: relative;
    width: 450px;
    bottom: -150px;
}

.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color)
}

@media (max-width: 767px) {
    .design .text {
        width: 100%;
    }

    .design .image {
        display: none;
    }
}

.design .text h2 {
    margin-bottom: 60px;
    font-weight: normal;
    text-transform: uppercase;
}

.design .text ul {
    line-height: 3;
}

.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f26c";
    font-weight: 900;
    font-size: 20px;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

/* End Design  */
/* Start Portfolio  */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 100px auto 30px;
    max-width: 600px;
}

.portfolio .shuffle li {
    padding: 10px 25px;
    cursor: pointer;
}

@media(max-width: 767px) {
    .portfolio .shuffle {
        max-width: 400px;
        justify-content: center;
    }

    .portfolio .shuffle li {
        padding: 8px;
        font-size: 15px;
    }
}

.portfolio .shuffle li.active {
    background-color: var(--main-color);
    color: white;
}

.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio .imgs-container .box {
    position: relative;
    overflow: hidden;
}

@media(min-width: 768px) {
    .portfolio .imgs-container .box {
        flex-basis: 50%;
    }
}

@media(min-width: 1199px) {
    .portfolio .imgs-container .box {
        flex-basis: 25%;
    }
}

.portfolio .imgs-container .box img {
    max-width: 100%;
    transition: 0.3s;
}

.portfolio .imgs-container .box .caption {
    position: absolute;
    width: 100%;
    background-color: white;
    bottom: -100%;
    transition: 0.3s;
}

.portfolio .imgs-container .box .caption h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .imgs-container .box .caption P {
    color: var(--main-color);
}

.portfolio .imgs-container .box:hover .caption {
    bottom: 0;
}

.portfolio .imgs-container .box:hover img {
    transform: rotate(2deg) scale(1.1);
}

.portfolio .more {
    display: block;
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 15px 40px;
    width: fit-content;
    margin: 30px auto;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* End Portfolio  */
/* Start Video  */
.video {
    position: relative;
    overflow: hidden;
}

.video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 70%);

}

.video video {
    max-width: 100%;
    transform: scale(1.1);
}

.video .text {
    position: absolute;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background-color: var(--transparent-color);
    color: white;
    padding: 40px 0 40px;
    display: flex;
    align-items: center;
    z-index: 2;
}

.video .text h2 {
    font-weight: normal;
    text-transform: uppercase;
}

.video .text p {
    padding: 40px;
}

.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

@media(max-width: 767px) {
    .video .text {
        padding: 10px 0 20px;
    }

    .video .text h2 {
        font-size: 16px;
    }

    .video .text p {
        padding: 10px;
        font-size: 12px;
    }

    .video .text button {
        padding: 5px 10px;
        font-size: 12px;
    }
}

/* End Video  */
/* Start About  */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
}

.about .Container img {
    position: relative;
    max-width: 100%;
    bottom: -250px;
    margin-top: -250px;
}

@media(max-width: 767px) {
    .about .Container img {
        bottom: -150px;
        margin-top: -150px;
    }
}

@media(max-width: 480px) {
    .about .Container img {
        bottom: -105px;
        margin-top: -105px;
    }
}

/* End About  */
/* Start Stats  */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background: url(../Images/stats.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.stats .Container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.stats .Container .box {
    padding: 50px;
    color: white;
    background-color: var(--transparent-color);
}

@media(max-width: 767px) {
    .stats .Container .box {
        flex-basis: 100%;
    }
}

@media(min-width: 768px) {
    .stats .Container .box {
        flex-basis: 50%;
    }
}

@media(min-width: 992px) {
    .stats .Container .box {
        flex-basis: 25%;
    }
}

.stats .Container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background: black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.stats .Container .box .number {
    font-size: 40px;
    font-weight: bold;
    margin: 20px auto;
}

.stats .Container .box P {
    font-size: 14px;
}

/* End Stats  */
/* Start Our-Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .Container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media(min-width: 992px) {
    .our-skills .Container>div {
        flex-basis: 45%;
    }
}

.our-skills .Container>div h3 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 22px;
    margin: 0 0 30px;
}

.our-skills .Container>div>P {
    font-size: 13px;
    line-height: 2;
    text-align: center;
    color: var(--paragraph-color);
    margin-bottom: 60px;
}

.our-skills .Container .testimonials .content {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.our-skills .Container .testimonials .content img {
    width: 100px;
    border-radius: 50%;
    margin-right: 60px;
}

.our-skills .Container .testimonials .content .text {
    border-bottom: 1px solid var(--paragraph-color);
    padding-bottom: 20px;
}

.our-skills .Container .testimonials .content .text>P {
    font-size: 13px;
    line-height: 2;
}

.our-skills .Container .testimonials .content .text>P:last-child {
    text-align: end;
    color: var(--paragraph-color);
}

@media(max-width: 767px) {
    .our-skills .Container .testimonials .content {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .Container .testimonials .content img {
        margin: 0 0 20px;
    }
}

@media(max-width: 991px) {
    .our-skills .Container>div:first-child {
        margin-bottom: 60px;
    }

    .our-skills .Container>div {
        flex-basis: 100%;
    }
}

.our-skills .Container .testimonials ul {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.our-skills .Container .testimonials ul li {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 5px;
}

.our-skills .Container .testimonials ul li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.our-skills .Container .skills .prog-holder {
    margin-bottom: 35px;
}

.our-skills .Container .skills .prog-holder h4 {
    margin-bottom: 10px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
}

.our-skills .Container .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 25px;
}

.our-skills .Container .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}

.our-skills .Container .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    color: white;
    background-color: black;
    position: absolute;
    right: -20px;
    top: -32px;
    width: 35px;
    padding: 3px;
    font-size: 15px;
    text-align: center;
    border-radius: 20%;
}

.our-skills .Container .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border: 5px solid;
    border-color: black transparent transparent transparent;
    right: -5px;
    top: -10px;
}

/* Ensd Our-Skills */
/* Start Quote */
.quote {
    padding-top: calc(var(--section-padding) + 50px);
    padding-bottom: calc(var(--section-padding) + 50px);
    background-image: url(../Images/Quote.png);
    background-size: cover;
    position: relative;
}

.quote::before {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0, 75%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.quote .Container {
    position: relative;
}

.quote .Container .text {
    color: white;
    text-align: center;
}

.quote q {
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    margin: 0 0 20px;
}

/* End Quote */
/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .Container .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 30px;
}

.pricing .Container .plans .plan {
    text-align: center;
    background-color: #fcfcfc;
    box-shadow: 0 2px 9px -4px black;
}

.pricing .Container .plans .plan .plan-header {
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
    padding: 30px 20px;
}

.pricing .Container .plans .plan span {
    display: block;
    text-transform: uppercase;
    font-size: 15px;
    padding-bottom: 10px;
}

.pricing .Container .plans .plan h3 {
    font-size: 50px;
    font-weight: bold;
    position: relative;
    margin: auto;
}

.pricing .Container .plans .plan h3::before {
    content: "$";
    position: absolute;
    font-size: 15px;
    top: 8px;
    left: 40px;
}

.pricing .Container .plans .plan h3::after {
    content: "/MO";
    position: absolute;
    font-size: 10px;
    bottom: 8px;
    right: 30px;
}

.pricing .Container .plans .plan .features {
    border-bottom: 1px solid var(--main-color);
}

.pricing .Container .plans .plan .features ul li {
    font-size: 15px;
    padding: 20px;
    position: relative;
}

.pricing .Container .plans .plan .features ul li:not(:last-child)::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 120px;
    height: 1px;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
}

.pricing .Container .plans .plan .plan-footer a {
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: black;
    padding: 12px 30px;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 35px auto;
}

.pricing .Container .contact {
    text-align: center;
    padding-top: var(--section-padding);
}

.pricing .Container .contact P {
    font-size: 20px;
    margin-bottom: 50px;
}

.pricing .Container .contact a {
    color: white;
    background-color: var(--main-color);
    padding: 10px 30px;
    text-decoration: none;
    letter-spacing: 1px;
}

/* End Pricing */
/* Start Subscription */
.subscription {
    padding-top: calc(var(--section-padding) + 50px);
    padding-bottom: calc(var(--section-padding) + 50px);
    background-image: url(../Images/Subscribe.jpg);
    background-size: cover;
    color: white;
    position: relative;
}

.subscription::before {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0, 50%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.subscription .Container {
    display: flex;
    align-items: center;
    position: relative;
}

@media(max-width: 991px) {
    .subscription .Container {
        flex-direction: column;
        text-align: center;
    }
}

.subscription .Container form {
    display: flex;
    align-items: center;
    margin-right: 30px;
    position: relative;
    width: 750px;
}

@media(max-width: 991px) {
    .subscription .Container form {
        max-width: 100%;
        margin: 0 0 30px;
        justify-content: center;
    }
}

.subscription .Container form i {
    position: absolute;
    left: 25px;
    transform: translateX(-50%);
}

.subscription .Container form input {
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 12px;
}

.subscription .Container form input:focus {
    outline: none;
}

.subscription .Container form input[type="Email"] {
    background-color: transparent;
    color: white;
    border-right: none;
    caret-color: var(--main-color);
    padding: 16px 30px 16px 50px;
    width: 100%;
}

.subscription .Container form input[type="Email"]::placeholder {
    color: white;
}

.subscription .Container form input[type="submit"] {
    color: white;
    background-color: var(--main-color);
    border-left: none;
    padding: 16px 30px;
    cursor: pointer;
}

.subscription .Container p {
    font-size: 10px;
    line-height: 2;
}

/* End Subscription */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.contact .Container .contact-holder {
    display: flex;
    flex-wrap: wrap;
}

.contact .Container .contact-holder form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 590px;
}

@media(max-width: 991px) {
    .contact .Container .contact-holder form {
        width: 100%;
    }

    .contact .Container .contact-holder {
        justify-content: center;
    }
}

.contact .Container .contact-holder form input:not(:last-child) {
    display: block;
    width: 100%;
    margin-bottom: 22px;
    padding: 15px 20px;
    border: 1px solid #dedadc;
}

.contact .Container .contact-holder form textarea {
    display: block;
    width: 100%;
    height: 200px;
    padding: 15px 20px;
    resize: none;
    border: 1px solid #dedadc;
}

.contact .Container .contact-holder form input::placeholder,
.Container .contact-holder form textarea::placeholder {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
}

.contact .Container .contact-holder form input:focus,
.Container .contact-holder form textarea:focus {
    outline: none;
}

.Container .contact-holder input[type="submit"] {
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    background-color: var(--main-color);
    padding: 15px 40px;
    margin-top: 50px;
    border: none;
    cursor: pointer;
}

@media(max-width: 991px) {
    .Container .contact-holder input[type="submit"] {
        margin-top: 50px;
        width: 100%;
    }
}

.contact .Container .contact-holder .text {
    padding: 0 30px;
}

@media(max-width: 991px) {
    .contact .Container .contact-holder .text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 400px;
        margin-bottom: 20px;
        order: -1;
    }
}

.contact .Container .contact-holder .text .sec1 {
    margin-bottom: 60px;
}

.contact .Container .contact-holder .text p:nth-child(1) {
    display: block;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.contact .Container .contact-holder .text P:not(:first-child) {
    color: var(--paragraph-color);
    line-height: 2;
    font-size: 12px;
}

/* End Contact */
/* Start Footer */
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url(../Images/Footer.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.footer::before {
    content: "";
    position: absolute;
    background-color: rgb(0, 0, 0, 70%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer .Container {
    position: relative;
    text-align: center;
    color: white;
}

.footer .Container img {
    width: 100px;
    margin-bottom: 20px;
}

.footer .Container P:first-of-type {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    width: fit-content;
    margin: auto;
    padding-bottom: 20px;
}

.footer .Container P:first-of-type:after {
    content: "";
    position: absolute;
    width: calc(100% + 40px);
    height: 1px;
    background-color: white;
    bottom: 0;
    left: -20px;
}

.footer .Container .social-icons {
    display: flex;
    margin: 20px auto 60px;
    width: 150px;
    justify-content: space-between;
}

.footer .Container .social-icons a {
    color: white;
}

.footer .Container .social-icons i {
    font-size: 15px;
}

.footer .Container P:last-of-type {
    font-size: 13px;
}

.footer .Container P:last-of-type span {
    color: var(--main-color);
    font-weight: bold;
}

/* End Footer */

/* MADE BY MOHAMED ABBAS */
/* MADE BY MOHAMED ABBAS */
/* MADE BY MOHAMED ABBAS */
/* MADE BY MOHAMED ABBAS */
/* MADE BY MOHAMED ABBAS */